<nav id="sidebar" class="border-right pl-2">
    <ul class="list-unstyled components">
        <li>
            <a href="/"><i class="fas fa-tachometer-alt mr-1"></i>&nbsp;&nbsp;Dashboard</a>
        </li>
        <li>
            <a href="/users"><i class="fas fa-users mr-1"></i>&nbsp;&nbsp;All Users</a>
        </li>
        <li>
            <a href="/changePassword"><i class="fas fa-users mr-1"></i>&nbsp;&nbsp;Change Password</a>
        </li>
    </ul>
</nav>