<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
    <% include ../partials/header %>
    <div class="container" style="margin-top: 13%">
        <form method="post" action="/changePassword" class="w-25 mx-auto my-auto">
            <div class="form-group">
                <label>New Password</label>
                <input type="password" class="form-control" name="NewPassword" placeholder="New Password">
            </div>
            <div class="form-group">
                <label>Confirm New Password</label>
                <input type="password" class="form-control" name="cNewPassword" placeholder="Confirm New Password">
            </div>
            <button type="submit" class="btn btn-success">Submit</button>
        </form>
        <%  if(success_msg.length > 0){  %>
            <div class="alert alert-success mt-3"><%=  success_msg  %></div>
        <%  } %>
        <%  if(error_msg.length > 0){  %>
            <div class="alert alert-danger mt-3"><%=  error_msg  %></div>
        <%  } %>
        <%  if(error.length > 0){  %>
            <div class="alert alert-danger mt-3"><%=  error  %></div>
        <%  } %>
    </div>
    <% include ../partials/footer %>
</body>

</html>