<!DOCTYPE html>
<html>

<head>
    <% include ../partials/head %>
</head>

<body>
        <% include ../partials/header %>
        <div class="wrapper">
            <!-- Sidebar  -->
            <% include ../partials/sidebar %>
    
            <!-- Page Content  -->
            <div id="content">
                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
            </div>
        </div>
    
        <% include ../partials/footer %>
    
        <script>
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                });
            });
        </script>
</body>

</html>